@page "/GroupOverview"
@using nhs_ogsm.Data
@using nhs_ogsm.Services
@inject GroupService GroupService;
@inject NavigationManager NavigationManager;
@inject StrategyService StrategyService;

@code
{
    public List<Group> _groups;

    //get Groups on load
    protected override async Task OnInitializedAsync()
    {
        _groups = GroupService.GetAllGroups();
    }
}

<PageTitle>Group overview</PageTitle>

<style>
    .dashboardButton {
        border: 2px solid #04AA6D;
        padding: 24px 32px;
        text-align: center;
        font-size: 24px;
        border-radius: 8px;   
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 16px 0 rgba(0,0,0,0.19);
        float: right;
        transition-duration: 0.4s;
        position: sticky;
        bottom: 10px;
    }
    
    .dashboardButton:hover {
        background-color: #04AA6D;
          color: white;
    }
</style>

<div>
    <h3>Group Overview</h3>
    <div style="height: 20px"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Assigned OGSM's</th>
        </tr>
        </thead>
        <tbody>

        @if (_groups != null)
        {
            @foreach (var group in _groups.OrderBy(g => g.ID))
            {
                <tr>
                    <td>@group.Name</td>
                    <td>
                        @foreach (var ogsm in group.Ogsms)
                        {
                            <p>@ogsm.Title</p>
                        }
                    </td>
                    <td><input type="button" value="Select" onclick="@(() => Redirect("DashBoard/" + group.ID))" class="btn btn-default"/></td>
                </tr>
            }
        }
        </tbody>
    </table>

    <button class="dashboardButton" onclick="@(() => Redirect("/"))">+</button>
</div>
@code
{
    public void Redirect(string uri)
    {
        NavigationManager.NavigateTo(uri);
    }
}
