@page "/login"

<PageTitle>Login</PageTitle>

<h3>Login</h3>
<div style="height: 20px"></div>

<label for="email">Email:</label>
<input type="email" id="email" name="email"><br><br>
<label for="password">Password:</label>
<input type="password" id="password" name="password"><br><br>
