@page "/OgsmItem"
@using nhs_ogsm.Data
@using nhs_ogsm.Services
@using Microsoft.AspNetCore.Http.Extensions
@inject OgsmItemService OgsmItemService;

<h3>OgsmItem</h3>


<EditForm Model="@OgsmItems" OnValidSubmit="HandleSubmit">
    <label for="TitleInput">Title</label>
    <InputText id="TitleInput" @bind-Value="@OgsmItems.Title"></InputText>
    
    <button type="submit" class="btn-primary">Save</button>
</EditForm>

@code
{
    public List<OgsmItems> _ogsmItemsArray;
    
    //Save new OGSM item
    OgsmItems OgsmItems = new();
    public void HandleSubmit(EditContext editContext)
    {
        var newOgsmItem = (OgsmItems)editContext.Model;
        OgsmItemService.AddOgsmItem(newOgsmItem);
        OgsmItems = new OgsmItems();
        _ogsmItemsArray = OgsmItemService.GetOgsmitems();
    }
    
    //Save new OGSM item
    public void HandleDelete(OgsmItems item)
    {
        OgsmItemService.DeleteOgsmItem(item.ID);
        _ogsmItemsArray.Remove(item);
        StateHasChanged();
    }
}

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ogsmItems in _ogsmItemsArray)
    {
        <tr>
            <td>@ogsmItems.Title</td>
            <td><input type="button" value="Delete" onclick="@(() => HandleDelete(ogsmItems))" class="btn btn-default" /></td>
        </tr>
        

    }
    </tbody>
</table>



@code
{
    
    //get Ogsm items on load
    protected override async Task OnInitializedAsync()
    {
        _ogsmItemsArray = OgsmItemService.GetOgsmitems();
    }
    
}