@page "/Overview"
@using nhs_ogsm.Data

<PageTitle>Overview</PageTitle>
<h1>Overview</h1>
<br/>
<br/>

<div class="dropdown">
    <Button>←</Button>Month<Button>→</Button>
    <Button Color="ButtonColor.Info">OGSM</Button>
    @*<div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>*@
</div>


