@page "/Overview"
@using nhs_ogsm.Data

<PageTitle>Overview</PageTitle>
<h1>Overview</h1>
<br/>
<br/>

<div class="dropdown">
    <button>←</button>Month<button>→</button>
    <button class="dropbtn">OGSM</button>
    @*<div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>*@
</div>

<Chart Config="_config1" @ref="_chart1"></Chart>
<br/>
<table>
    <tr>
        <th>Goals</th>
        <th>Completed Goals</th>
        <th>Weight</th>
    </tr>
    <tr>
        <td>20</td>
        <td>18</td>
        <td>80%</td>
    </tr>
</table>

@code {
    private BarChartConfig? _config1;
    private Chart? _chart1;

    protected override async Task OnInitializedAsync()
    {
        _config1 = new BarChartConfig()
        {
            Options = new Options()
            {
                IndexAxis = "x",
                Responsive = true,
                MaintainAspectRatio = false,
                Plugins = new Plugins()
                {
                    Legend = new Legend()
                    {
                        Align = Align.Center,
                        Display = false,
                        Position = LegendPosition.Right
                    }
                },
                Scales = new Dictionary<string, Axis>()
                {
                    {
                        Scales.XAxisId, new Axis()
                        {
                            Stacked = true,
                            Ticks = new Ticks()
                            {
                                MaxRotation = 0,
                                MinRotation = 0
                            }
                        }
                    },
                    {
                        Scales.YAxisId, new Axis()
                        {
                            Stacked = true
                        }
                    }
                }
            }
        };

        _config1.Data.Labels = ChartTestData.Text;
        _config1.Data.Datasets.Add(new BarDataset()
        {
            Label = "Value",
            Data = ChartTestData.SimpleBar.Select(l => l.Value).ToList(),
            BorderWidth = 1
        });
    }
}
