@page "/UserCreator"
@using nhs_ogsm.Data
@using nhs_ogsm.Services
@inject UserService UserService;
@inject GroupService GroupService;
@inject NavigationManager NavigationManager;
@inject StrategyService StrategyService;

@code
{
    User _user = new();
    
}

<h1>The input value attribute</h1>

<style>
    label {
        width:95px;
        clear:left;
        text-align:left;
        padding-right:10px;
    }
    
    input, label {
        float:left;
    }
    
    ::placeholder {
        color: gray;
        opacity: 0.7;
    }
    
</style>

<EditForm Model="@_user" OnValidSubmit="CreateUser">
    <div class="form-group">
        <label for="email">E-mail:</label>
        <InputText id="email" class="form-control" @bind-Value="_user.Email" placeholder="example&commat;email.com"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <InputText id="password" class="form-control" @bind-Value="_user.Password" />
    </div>
    <div class="form-group">
        <label for="fname">First name:</label>
        <InputText id="fname" class="form-control" @bind-Value="_user.FirstName" placeholder="John"/>
    </div>
    <div class="form-group">
        <label for="lname">Last name:</label>
        <InputText id="lname" class="form-control" @bind-Value="_user.LastName" placeholder="Doe"/>
    </div>
    <div class="form-group">
        <label for="admin">Admin:</label>
        <InputSelect id="admin" class="form-control" @bind-Value="_user.IsAdmin">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </InputSelect>
    </div>
    <Button Type="ButtonType.Submit" Color="ButtonColor.Primary" style="margin-top: 10px">Create</Button>
</EditForm>

@code
{
    public void Redirect(string uri)
    {
        NavigationManager.NavigateTo(uri);
    }

    public void CreateUser(EditContext editContext)
    {
        var newUser = (User)editContext.Model;
        UserService.AddUser(newUser);
        
        _user = new User();
        StateHasChanged();
        Redirect("Users");
    }
}