.active-item {
  border-left: 8px #0093ff solid;
}

.stratList {
  border-radius: 5px;
  background-color: green;
  float: left;
  padding: 10px;
  width: 30%;

  display: grid;
  row-gap: 10px;
}

.stratList .stratItem {
  border-radius: 5px;
  background-color: #ffffff;
  
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-template-areas: 
    "Header Header Header"
    "info info info"
    "footer footer footer";
}

.stratItem .Header {
  grid-area: Header;

  padding: 5px;
  background-color: rgba(12, 65, 40, 0.38);
}

.stratItem .info {
  grid-area: info;

  padding: 5px;
}

.stratItem .footer {
  grid-area: footer;

  padding: 5px;
  background-color: rgba(128, 128, 128, 0.38);
}

.remove-button:hover {
  scale: 1.01;
  transition-duration: 300ms;
}

.edit-button:hover {
  scale: 1.01;
  transition-duration: 300ms;
}

.MeasureList {
  border-radius: 5px;
  background-color: green;
  float: left;
  padding: 10px;
  width: 30%;
  
  display: grid;
  row-gap: 10px;
}

.MeasureList div {
  padding: 5px;
  border: 1px solid black;
  background-color: #ffffff;

}

.removable-item {
  color: #0a53be;
}

.removable-item:hover {
  color: red;
  text-decoration: line-through;
}