.active-item {
  border: 4px #0093ff solid;
}


.goalList {
  border-radius: 5px;
  padding: 1%;
  background-color: green;
  float: left;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 30%;
}

.goalList div {
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 3px 4px 23px -5px rgba(61,231,63,0.75);
  width: 100%;
}

.stratList {
  border-radius: 5px;
  padding: 1%;
  background-color: green;
  float: left;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 30%;
}

.stratList table {
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0 3px;

}

.stratList table tr {

  padding: 5px;
  background-color: white;
  border-bottom: solid 1px black;
}

.remove-button {
  background-color: hsl(0, 100%, 62%);
  box-shadow: rgb(255, 60, 60) 0px 3px 8px;
}

.remove-button:hover {
  scale: 1.01;
  transition-duration: 300ms;
}

.edit-button {
  background-color: hsl(55, 100%, 50%);
  box-shadow: rgb(255, 236, 2) 0px 3px 8px;
}

.edit-button:hover {
  scale: 1.01;
  transition-duration: 300ms;
}

button {
  border: none;
  border-radius: 5px;
}