// --- Colors ---
// Primary colors
$centric-green-1: #007734;
$centric-green-2: #009036;
$centric-green-3: #7ab51d;
$centric-green-4: #dfdb00;
$centric-black: #000;

// Secondary colors
$centric-blue-1: #005ea8;
$centric-blue-2: #5ec5ed;
$centric-yellow: #ffed00;
$centric-orange: #ee7f00;
$centric-red: #e30045;
$centric-purple: #80197f;
