<button type="@_type" class="@string.Join(' ', Classes)">@ChildContent</button>

@code {

    public enum BtnType
    {
        Submit,
        Button,
        Reset,
    }

    public enum BtnColor
    {
        Primary,
        Secondary,
        Warning,
        Danger,
    }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public BtnType Type { get; set; }

    [Parameter]
    public List<string> Classes { get; set; } = new() { "button" };

    [Parameter]
    public BtnColor Color { get; set; }


    private string _type { get; set; }
    private string _style { get; set; } = "button-";

    protected override void OnInitialized()
    {
        _type = Type switch {
            BtnType.Reset => "reset",
            BtnType.Submit => "submit",
            _ => "button"
            };

        _style += Color switch {
            BtnColor.Secondary => "secondary",
            BtnColor.Warning => "warning",
            BtnColor.Danger => "danger",
            BtnColor.Primary => "primary",
            _ => ""
            };
        if (!_style.Equals("button-")) Classes.Add(_style);
    }

}