<button type="@Type" class="@string.Join(' ', Classes)" onclick="@OnClick">@ChildContent</button>

@code {

    public enum BtnColor
    {
        Primary,
        Secondary,
        Warning,
        Danger,
    }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Type { get; set; } = "button";

    [Parameter]
    public List<string> Classes { get; set; } = new() { "button" };

    [Parameter]
    public BtnColor Color { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private string Style { get; set; } = "button-";

    protected override void OnInitialized()
    {
        Style += Color switch {
            BtnColor.Secondary => "secondary",
            BtnColor.Warning => "warning",
            BtnColor.Danger => "danger",
            BtnColor.Primary => "primary",
            _ => ""
            };
        if (!Style.Equals("button-")) Classes.Add(Style);
    }

}