<nav>
    <AuthorizeView>
        <NotAuthorized>
            <div>
                <a href="Identity/Account/Login">
                    auth
                </a>
            </div>
        </NotAuthorized>
        <Authorized>
             <div>
                 <a href="Identity/Account/Logout">
                     Logout
                 </a>
             </div>   
        </Authorized>
    </AuthorizeView> 
    <div>
        <NavLink href="login">
            Login
        </NavLink>
    </div>
    <div>
        <NavLink href="DashBoard">
            Dashboard
        </NavLink>
    </div>
    <div>
        <NavLink href="Overview">
            OGSM Board
        </NavLink>
    </div>
    <div>
        <NavLink href="OgsmItem">
            Ogsm crud
        </NavLink>
    </div>
    <div>
        <NavLink href="Groups">
            Groups
        </NavLink>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}