<div class="sidebar-top">
    <Button Size="Button.BtnSize.Small">
        <span class="material-symbols-outlined">
            filter_list
        </span>
    </Button>
    <p class="sidebar-title">OGSMs</p>
    <Button Size="Button.BtnSize.Small">
        <span class="material-symbols-outlined">
        search
        </span>        
    </Button>
</div>

@code {

}